{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <div class="title-form">
        <h3>Liste de films</h3>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Resume</th>
                <th>DateSortie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.titre }}</td>
                <td>{{ film.resume }}</td>
                <td>{{ film.dateSortie ? film.dateSortie|date('Y-m-d') : '' }}</td>
                <td>

                    <a href="{{ path('film_show', {'id': film.id}) }}">Voir</a>
                    <a href="{{ path('film_edit', {'id': film.id}) }}">Modifier</a>
                    <a href="{{ path('film_delete', {'id': film.id}) }}">Supprimer</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
